{
  "extends": "eslint:recommended",
  "plugins": ["angular"],
  "env": {
    "es6": true,
    "browser": true,
    "jasmine": true
  },
  "ecmaFeatures": {
    "modules": true
  },
  "globals": {
    "angular": true,
    "module": true,
    "inject": true
  },
  "rules":{
    "angular/log": 1,
    "angular/window-service": 1,
    "no-console":0
  }
}
